::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border: 4px solid #ededed;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #111;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #00aad4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0;
}

#gameContainer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 364px;
  margin: 0 auto;
}

#gameContainer h1 {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#canvasContainer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 6px;
  border-radius: 6px;
  box-sizing: border-box;
  background: #fff;
}

#gameBoard {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#gameResults {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0px;
}

#gameResults .game-result .title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0px;
}

#gameResults .game-result p {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}